body {
  font-family: "Montserrat";
}

.navLink {
  text-decoration: none;
  color: black;
}
.navLink:visited {
  color: black;
}

nav button {
  background-color: white;
  border: none;
  font-size: 22px;
}

.active {
  border-bottom: 2px solid blue;
  padding: 10px;
  color: blue;
}

.active:visited {
  border-bottom: 2px solid blue;
  padding: 10px;
  color: blue;
}

.defaultView {
  border: 2px solid rgb(189, 189, 189);
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  height: 21em;
  line-height: 1.5em;
  width: 60vw;
}

.fullView {
  border: 2px solid rgb(189, 189, 189);
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  line-height: 1.5em;
  width: 60vw;
}

.pasteBody button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

/* .singleSummary.expand {
  max-height: fit-content;
} */

.pasteTitle {
  font-size: 16px;
}

textarea {
  height: 70vh;
  width: 50vw;
}

form {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
  justify-items: center;
}

.titleInput {
  width: 50vw;
  height: 5vh;
}

.submitPaste {
  width: 20vw;
  height: 5vh;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.pasteContainer {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.singleSummaryLink {
  text-decoration: none;
}

.singleSummaryLink:link {
  color: black;
}

/* visited link */
.singleSummaryLink:visited {
  color: black;
}

/* mouse over link */
.singleSummaryLink:hover {
  color: black;
}

/* selected link */
.singleSummaryLink:active {
  color: black;
}

.commentLink {
  text-decoration: none;
  color: rgb(56, 56, 56);
}

.commentLink:visited {
  color: rgb(56, 56, 56);
}
